/* line 1, ../sass/iteeth.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

/* line 18, ../sass/iteeth.scss */
.clearfix:after, .container:after, .navHeader:after, .imgIntro:after, .services li:after, .grid:after, .patIns li:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../sass/iteeth.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 29, ../sass/iteeth.scss */
a {
  color: #000;
}

/* line 33, ../sass/iteeth.scss */
h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #414554;
  font-weight: bold;
  margin: 0 auto;
}

/* line 41, ../sass/iteeth.scss */
h3 {
  font-size: 14px;
  font-weight: 400;
  color: #414554;
}

/* line 47, ../sass/iteeth.scss */
p {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 2em;
}

/* line 54, ../sass/iteeth.scss */
.trans03 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 61, ../sass/iteeth.scss */
.trans05, .navHeader li a:hover, .navbar li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 68, ../sass/iteeth.scss */
.container {
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
}

/* line 77, ../sass/iteeth.scss */
.navHeader {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

/* line 87, ../sass/iteeth.scss */
.navHeader ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

/* line 95, ../sass/iteeth.scss */
.navHeader li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

/* line 105, ../sass/iteeth.scss */
.navHeader li a:hover {
  color: #FF5500;
}

/* line 110, ../sass/iteeth.scss */
.navHeader .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* line 117, ../sass/iteeth.scss */
.navHeader .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* line 123, ../sass/iteeth.scss */
.navHeader .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

/* line 132, ../sass/iteeth.scss */
.navHeader .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

/* line 141, ../sass/iteeth.scss */
.navHeader .menu-icon .navicon:before,
.navHeader .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

/* line 152, ../sass/iteeth.scss */
.navHeader .menu-icon .navicon:before {
  top: 5px;
}

/* line 156, ../sass/iteeth.scss */
.navHeader .menu-icon .navicon:after {
  top: -5px;
}

/* line 160, ../sass/iteeth.scss */
.navHeader .menu-btn {
  display: none;
}

/* line 164, ../sass/iteeth.scss */
.navHeader .menu-btn:checked ~ .menu {
  max-height: 240px;
}

/* line 168, ../sass/iteeth.scss */
.navHeader .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

/* line 172, ../sass/iteeth.scss */
.navHeader .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

/* line 176, ../sass/iteeth.scss */
.navHeader .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

/* line 180, ../sass/iteeth.scss */
.navHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* line 185, ../sass/iteeth.scss */
.navbar {
  display: none;
  float: right;
  margin-top: 66px;
}
/* line 189, ../sass/iteeth.scss */
.navbar li {
  margin-right: 12px;
  margin-left: 12px;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 196, ../sass/iteeth.scss */
.navbar li a {
  color: #414554;
}
/* line 199, ../sass/iteeth.scss */
.navbar li a:hover {
  color: #FF5500;
}

/* line 206, ../sass/iteeth.scss */
.logo {
  width: 50px;
  margin: 12px 18px;
  float: right;
}

/* line 213, ../sass/iteeth.scss */
.imgIntro {
  margin-top: 68px;
  display: inline-block;
  position: relative;
  background-color: #fcfcfc;
}

/* line 222, ../sass/iteeth.scss */
.imgMain img {
  width: 100%;
}

/* line 227, ../sass/iteeth.scss */
.mainTag {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #212D38;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5em;
  margin-top: 48px;
  margin-bottom: 48px;
}

/* line 240, ../sass/iteeth.scss */
.tagline {
  text-transform: uppercase;
  color: #414554;
  font-weight: 300;
  text-align: center;
  margin-top: 36px;
  font-size: 16px;
  letter-spacing: 2px;
}

/* line 250, ../sass/iteeth.scss */
.imgGallery {
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #3c425c;
}
/* line 254, ../sass/iteeth.scss */
.imgGallery img {
  margin-right: 24px;
}
/* line 258, ../sass/iteeth.scss */
.imgGallery .mainDis img {
  width: 80vw;
  display: block;
  margin: 0 auto;
}

/* line 266, ../sass/iteeth.scss */
.bgGrey {
  background-color: #f4f3f3;
  padding: 48px 0px;
}

/* line 272, ../sass/iteeth.scss */
.insurance li {
  overflow: hidden;
  border-radius: 6px;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 24px;
}
/* line 278, ../sass/iteeth.scss */
.insurance li img {
  width: 47vw;
}
/* line 282, ../sass/iteeth.scss */
.insurance p {
  margin: 0 auto;
  margin-bottom: 48px;
  width: 75%;
}

/* line 289, ../sass/iteeth.scss */
.experience {
  padding: 48px 0px;
}

/* line 293, ../sass/iteeth.scss */
.xpWindow {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border: 2px solid #f4f3f3;
  margin-top: 24px;
}
/* line 300, ../sass/iteeth.scss */
.xpWindow h2 {
  margin-top: 24px;
  margin-bottom: 12px;
}
/* line 304, ../sass/iteeth.scss */
.xpWindow p {
  width: 84%;
  margin: 0 auto;
  margin-bottom: 24px;
}
/* line 309, ../sass/iteeth.scss */
.xpWindow a {
  color: #00aaef;
  font-weight: bold;
}

/* line 315, ../sass/iteeth.scss */
.xList {
  list-style-type: disc;
}
/* line 317, ../sass/iteeth.scss */
.xList p {
  margin-bottom: 6px;
}
/* line 321, ../sass/iteeth.scss */
.xList li:last-of-type {
  margin-bottom: 24px;
}

/* line 327, ../sass/iteeth.scss */
.bgDark {
  padding-top: 24px;
  background-color: #3c425c;
  color: white;
}
/* line 331, ../sass/iteeth.scss */
.bgDark .servTitle {
  color: white;
}
/* line 334, ../sass/iteeth.scss */
.bgDark p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 36px;
}

/* line 341, ../sass/iteeth.scss */
.services {
  padding: 48px 0px;
}

/* line 345, ../sass/iteeth.scss */
.servTitle {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  text-transform: uppercase;
  color: #414554;
  font-weight: 700;
}

/* line 354, ../sass/iteeth.scss */
.services li {
  display: inline-block;
  margin-top: 24px;
  width: 48%;
}

/* line 361, ../sass/iteeth.scss */
.serviceIcon {
  margin-left: 24px;
  height: 190px;
}

/* line 366, ../sass/iteeth.scss */
.serviceIcon svg {
  width: 150px;
  display: block;
  margin: 0 auto;
}
/* line 370, ../sass/iteeth.scss */
.serviceIcon svg .stroke {
  stroke-width: 2px;
  stroke: #414554;
  fill: none;
}
/* line 375, ../sass/iteeth.scss */
.serviceIcon svg .blue {
  stroke: #1b75bc;
  fill: #1b75bc;
}

/* line 381, ../sass/iteeth.scss */
.minTitle {
  text-align: center;
}

/* line 385, ../sass/iteeth.scss */
.aboutUs p {
  margin-bottom: 8px;
}

/* line 389, ../sass/iteeth.scss */
.grid {
  width: 60%;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: 24px;
  vertical-align: top;
}
/* line 397, ../sass/iteeth.scss */
.grid li:first-of-type {
  width: 30px;
  margin-left: 12px;
  padding-left: -12px;
}
/* line 402, ../sass/iteeth.scss */
.grid .white {
  fill: white;
  color: white;
}

/* line 408, ../sass/iteeth.scss */
.miniDis {
  display: block;
}
/* line 410, ../sass/iteeth.scss */
.miniDis img {
  width: 224px;
}

/* line 416, ../sass/iteeth.scss */
.sect {
  display: none;
}
/* line 418, ../sass/iteeth.scss */
.sect a:nth-of-type(2n) {
  margin-top: 22px;
}

/* line 423, ../sass/iteeth.scss */
.details {
  width: 100%;
  display: inline-block;
  margin-left: 12px;
  text-transform: none;
  font-size: 12px;
  font-weight: 300;
}

/* line 434, ../sass/iteeth.scss */
.grid ul {
  display: block;
}

/* line 438, ../sass/iteeth.scss */
.grid h2 {
  margin: 12px 0px 12px 12px;
  text-align: center;
}

/* line 443, ../sass/iteeth.scss */
.grid li {
  float: left;
  padding-right: 12px;
}

/* line 448, ../sass/iteeth.scss */
.staffDesc {
  margin-top: 96px;
}
/* line 450, ../sass/iteeth.scss */
.staffDesc ul {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
}
/* line 456, ../sass/iteeth.scss */
.staffDesc li {
  display: block;
  margin: 0 auto;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 48px;
  text-align: center;
}
/* line 463, ../sass/iteeth.scss */
.staffDesc li img {
  width: 270px;
  border-radius: 8px;
}
/* line 468, ../sass/iteeth.scss */
.staffDesc p {
  font-size: 14px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 48px;
}
/* line 474, ../sass/iteeth.scss */
.staffDesc h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* line 481, ../sass/iteeth.scss */
.patIns ul {
  display: block;
  margin: 0 auto;
  width: 80%;
}
/* line 486, ../sass/iteeth.scss */
.patIns li {
  width: 90%;
  border: 1px solid grey;
  padding-bottom: 36px;
}
/* line 491, ../sass/iteeth.scss */
.patIns li h2 {
  width: 80%;
  text-align: center;
}
/* line 496, ../sass/iteeth.scss */
.patIns a {
  font-size: 10px;
  text-transform: uppercase;
  color: white;
}
/* line 501, ../sass/iteeth.scss */
.patIns button {
  border: none;
  padding: 6px 8px;
  background-color: #414554;
  border-radius: 2px;
}

@media (min-width: 48em) {
  /* line 510, ../sass/iteeth.scss */
  .navHeader li {
    float: left;
  }

  /* line 513, ../sass/iteeth.scss */
  .navHeader li a {
    padding: 20px 30px;
  }

  /* line 516, ../sass/iteeth.scss */
  .navHeader .menu {
    clear: none;
    max-height: none;
    margin-top: 18px;
    float: right;
  }

  /* line 522, ../sass/iteeth.scss */
  .navHeader .menu-icon {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  /* line 529, ../sass/iteeth.scss */
  .serviceIcon {
    width: 280px;
  }

  /* line 533, ../sass/iteeth.scss */
  .services li {
    width: 46%;
  }

  /* line 537, ../sass/iteeth.scss */
  .grid {
    width: 29%;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 48px;
    height: 150px;
  }

  /* line 545, ../sass/iteeth.scss */
  .faceIcon {
    margin-left: 40px !important;
  }

  /* line 549, ../sass/iteeth.scss */
  .xpWindow {
    float: left;
    width: 44%;
    margin-left: 14px;
    margin-right: 14px;
  }

  /* line 557, ../sass/iteeth.scss */
  .insurance li {
    margin-left: 8px;
  }
}
@media screen and (min-width: 700px) {
  /* line 565, ../sass/iteeth.scss */
  .navbar {
    display: block;
  }

  /* line 568, ../sass/iteeth.scss */
  .burgerMenu {
    display: none;
  }

  /* line 572, ../sass/iteeth.scss */
  .imgIntro {
    display: block;
    margin-top: 96px;
  }

  /* line 578, ../sass/iteeth.scss */
  .imgMain img {
    width: 50%;
    float: left;
  }

  /* line 584, ../sass/iteeth.scss */
  .mainTag {
    position: absolute;
    float: left;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-top: 0px;
    width: 40%;
  }

  /* line 596, ../sass/iteeth.scss */
  .mainDis img {
    width: 75vw;
  }

  /* line 601, ../sass/iteeth.scss */
  .staffDesc li {
    float: left;
  }

  /* line 607, ../sass/iteeth.scss */
  .patIns ul {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  /* line 612, ../sass/iteeth.scss */
  .patIns li {
    width: 40%;
    float: left;
    margin-left: 36px;
  }

  /* line 619, ../sass/iteeth.scss */
  .xpWindow {
    width: 45%;
  }
}
@media screen and (min-width: 800px) {
  /* line 627, ../sass/iteeth.scss */
  .xpWindow {
    width: 46%;
  }

  /* line 630, ../sass/iteeth.scss */
  .sect {
    display: inline-block;
  }

  /* line 634, ../sass/iteeth.scss */
  .logo {
    width: 96px;
  }

  /* line 638, ../sass/iteeth.scss */
  .staffDesc {
    margin-top: 144px;
  }

  /* line 642, ../sass/iteeth.scss */
  .details {
    margin-left: 40px;
  }

  /* line 646, ../sass/iteeth.scss */
  .mainDis {
    float: left;
    margin-left: 24px;
    margin-right: 24px;
  }
  /* line 650, ../sass/iteeth.scss */
  .mainDis img {
    width: 298px !important;
  }

  /* line 655, ../sass/iteeth.scss */
  .miniDis img {
    width: 205px;
  }
}
@media screen and (min-width: 900px) {
  /* line 663, ../sass/iteeth.scss */
  .mainTag {
    font-size: 38px;
    width: 34%;
  }

  /* line 668, ../sass/iteeth.scss */
  .services li {
    width: 33%;
  }

  /* line 673, ../sass/iteeth.scss */
  .insurance li {
    margin-left: 6px;
    margin-bottom: 24px;
  }
  /* line 676, ../sass/iteeth.scss */
  .insurance li img {
    width: 290px;
  }

  /* line 682, ../sass/iteeth.scss */
  .patIns ul {
    width: 100%;
  }
  /* line 685, ../sass/iteeth.scss */
  .patIns li {
    width: 28%;
    margin-left: 24px;
  }

  /* line 691, ../sass/iteeth.scss */
  .staffDesc ul {
    width: 100%;
  }

  /* line 695, ../sass/iteeth.scss */
  .mainDis {
    margin-left: 60px;
  }
  /* line 697, ../sass/iteeth.scss */
  .mainDis img {
    width: 324px !important;
  }

  /* line 702, ../sass/iteeth.scss */
  .miniDis img {
    width: 224px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 710, ../sass/iteeth.scss */
  .container {
    width: 960px;
  }

  /* line 713, ../sass/iteeth.scss */
  .mainTag {
    font-size: 36px;
    width: 28%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 720, ../sass/iteeth.scss */
  .mainTag {
    font-size: 48px;
    width: 28%;
  }
}
