html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 text-decoration: none;
 list-style: none;
}

.clearfix {
 &:after {
   content: "";
   display: table;
   clear: both;
 }
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #000;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
	color: #414554;
	font-weight: bold;
	margin: 0 auto;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	color: #414554;
}

p {
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	line-height: 2em;
}

.trans03{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.trans05{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container {
	height: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
	overflow: hidden;
	@extend .clearfix;
} 

.navHeader {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  @extend .clearfix;
}
 
.navHeader ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
 
.navHeader li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
 
.navHeader li a:hover {
  color: #FF5500;
	@extend .trans05;
}
 
.navHeader .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}
 
.navHeader .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.navHeader .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
 
.navHeader .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.navHeader .menu-icon .navicon:before,
.navHeader .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.navHeader .menu-icon .navicon:before {
  top: 5px;
}
 
.navHeader .menu-icon .navicon:after {
  top: -5px;
}

.navHeader .menu-btn {
  display: none;
}
 
.navHeader .menu-btn:checked ~ .menu {
  max-height: 240px;
}
 
.navHeader .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.navHeader .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.navHeader .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.navHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.navbar {
	display: none;
	float: right;
	margin-top: 66px;
	li {
		margin-right: 12px;
		margin-left: 12px;  
		float: left;
		font-size: 16px; 
		text-transform: uppercase;
		font-weight: 700;
		a {
			color: #414554;
		}
		a:hover {
			color: #FF5500;
			@extend .trans05;
		}
	}
}

.logo {
	width: 50px;
	margin: 12px 18px;
	float: right;

}

.imgIntro {
	margin-top: 68px;
	display: inline-block;
	position: relative;
	background-color: #fcfcfc;
	@extend .clearfix;
}

.imgMain {
	img {
		width: 100%;
	}
}

.mainTag {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 800;
	color: #212D38;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5em;
	margin-top: 48px;
	margin-bottom: 48px;
}

.tagline {
	text-transform: uppercase;
	color: #414554;
	font-weight: 300;
	text-align: center;
	margin-top: 36px;
	font-size: 16px;
	letter-spacing: 2px;
}

.imgGallery {
	padding-top: 40px;
	padding-bottom: 48px;
	background-color: #3c425c;
	img {
		margin-right: 24px;
	}
	.mainDis {
		img {
			width: 80vw;
			display: block;
			margin: 0 auto;
		}
	}
}

.bgGrey {
	background-color: #f4f3f3;
	padding: 48px 0px; 
}

.insurance {
	li {
		overflow: hidden;
		border-radius: 6px;
		display: inline-block;
		margin-left: 6px;
		margin-bottom: 24px;
		img {
			width: 47vw;
		}
	}
	p {
		margin: 0 auto; 
		margin-bottom: 48px;
		width: 75%;
	}
}

.experience {
	padding: 48px 0px;
}

.xpWindow {
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border: 2px solid #f4f3f3;
	margin-top: 24px;
	h2 {
		margin-top: 24px;
		margin-bottom: 12px;
	}
	p {
		width: 84%;
		margin: 0 auto;
		margin-bottom: 24px; 
	}
	a {
		color: #00aaef;
		font-weight: bold;
	}
}

.xList {
	list-style-type: disc;
	p {
		margin-bottom: 6px;
	}
	li {
		&:last-of-type {
			margin-bottom: 24px;
		}
	}
}

.bgDark {
	padding-top: 24px;
	background-color: #3c425c;
	color: white;
	.servTitle {
		color: white;
	}
	p {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 36px;
	}
}

.services {
	padding: 48px 0px;
}

.servTitle {
	text-align: center;
	margin-bottom: 24px;
	font-size: 24px;
	text-transform: uppercase;
	color: #414554;
	font-weight: 700;
}

.services li {
	display: inline-block;
	margin-top: 24px;
	width: 48%;
	@extend .clearfix;	
}

.serviceIcon {
	margin-left: 24px;
	height: 190px;
}

.serviceIcon svg { 
	width: 150px;
	display: block;
	margin: 0 auto;
	.stroke {
		stroke-width: 2px;
		stroke: #414554;
		fill: none;
	}
	.blue {
		stroke: #1b75bc;
		fill: #1b75bc;
	}
}

.minTitle {
	text-align: center;
}

.aboutUs p {
	margin-bottom: 8px;
}

.grid {
	width: 80%;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	padding-bottom: 24px;
	vertical-align: top;
	@extend .clearfix;
	li:first-of-type {
		width: 30px;
		margin-left: 12px;
		padding-left: -12px;
	}
	.white {
		fill: white;
		color: white;
	}
}

.miniDis  {
	display: block;
	img {
		width: 224px;
	}

}

.sect {
	display: none;
	a:nth-of-type(2n) {
		margin-top: 22px;
	}
}

.details {
	width: 100%;
	display: inline-block;
	margin-left: 12px;
	text-transform: none;
	font-size: 12px;
	font-weight: 300;
}

.grid ul {
	display: block;
}

.grid h2 {
	margin: 12px 0px 12px 12px;
	text-align: center;
}

.grid li {
	float: left;
	padding-right: 12px;
}

.staffDesc {
	margin-top: 96px;
	ul {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	li {
		display: block;
		margin: 0 auto;
		margin-left: 22px;
		margin-right: 22px;
		margin-bottom: 48px;
		text-align: center;
		img {
			width: 270px;
		 	border-radius: 8px;
		}
	}
	p {
		font-size: 14px;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 48px;
	}
	h2 {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

.patIns {
	ul {
		display: block;
		margin: 0 auto;
		width: 80%; 
	}
	li {
		width: 90%;
		border: 1px solid grey;
		padding-bottom: 36px;
		@extend .clearfix;
		h2 {
			width: 80%;
			text-align: center;
		}
	}
	a {
		font-size: 10px;
		text-transform: uppercase;
		padding: 6px 8px;
		background-color: #414554;
		color: white;
		border-radius: 2px;
	}
	button {
		border: none;
	}
}

@media (min-width: 48em) {
  .navHeader li {
    float: left;
  }
  .navHeader li a {
    padding: 20px 30px;
  }
  .navHeader .menu {
    clear: none;
    max-height: none;
    margin-top: 18px;
    float: right;
  }
  .navHeader .menu-icon {
    display: none;
  }
}

@media screen and (min-width: 600px) {

	.serviceIcon {
		width: 280px;
	}

	.services li {
		width: 46%;
	}

	.grid {
		width: 29%;
		display: inline-block;
		margin-top: 48px;
		margin-bottom: 48px;
		height: 150px;
	}

	.xpWindow {
		float: left;
		width: 44%;
		margin-left: 14px;
		margin-right: 14px;
	}

	.insurance {
		li {
			margin-left: 8px;
		}
	}
	
}

@media screen and (min-width: 700px) {
	.navbar {
		display: block;
	}
	.burgerMenu {
		display: none;
	}

	.imgIntro {
		display: block;
		margin-top: 96px;
	}

	.imgMain {
		img {
			width: 50%;
			float: left;
		}
	}

	.mainTag {
		position: absolute;
		float: left;
		top: 50%;
		left: 75%;
		transform: translate(-50%, -50%);
		text-align: left;
		margin-top: 0px;
		width: 40%
	}

	.mainDis {
		img {
			width: 75vw;
		}
	}
	.staffDesc {
		li {
			float: left;
		}
	}

	.patIns {
		ul {
			width: 90%;
			display: block;
			margin: 0 auto;
		}
		li {
			width: 40%;
			float: left;
			margin-left: 36px;
		}
	}

	.xpWindow {
		width: 45%;
	}

	
}

@media screen and (min-width: 800px){
	.xpWindow {
		width: 46%;
	}
	.sect {
		display: inline-block;
	}

	.logo {
		width: 96px;
	}

	.staffDesc {
		margin-top: 144px;
	}

	.mainDis {
		float: left;
		margin-left: 24px;
		margin-right: 24px;
		img {
			width: 298px !important;
		}
	}
	.miniDis {
		img {
			width: 205px;
		}
	}
}

@media screen and (min-width: 900px) {

	.mainTag {
		font-size: 38px;
		width: 34%;
	}

	.services li {
		width: 33%;
	}

	.insurance {
		li {
			margin-left: 6px;
			margin-bottom: 24px;
			img {
				width: 290px;
			}
		}
	}
	.patIns {
		ul {
			width: 100%
		}
		li {
			width: 28%;
			margin-left: 24px;
		}
	}
	.staffDesc {
		ul {
			width: 100%;
		}
	}
	.mainDis {
		margin-left: 60px;
		img {
			width: 324px !important;
		}
	}
	.miniDis {
		img {
			width: 224px;
		}
	}
}

@media screen and (min-width: 1000px) {

	.container {
		width: 960px;
	}
	.mainTag {
		font-size: 36px;
		width: 28%;
	}
}

@media screen and (min-width: 1200px) {
	.mainTag {
		font-size: 48px;
		width: 28%;
	}
}